<?xml version='1.0' encoding='utf-8'?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:sap="http://www.mulesoft.org/schema/mule/sap"
    xmlns:workday="http://www.mulesoft.org/schema/mule/workday" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd">

    <global-property name="mule.env" value="dev" doc:name="Global Property" />

    <configuration-properties file="common.properties" doc:id="33201d06-9f50-4d69-b2dd-3daee1742e8c" doc:name="Configuration properties" />
    <configuration-properties file="mule.${mule.env}.properties" doc:id="ae83081a-3eb1-4361-9ae3-af539719cd7c" doc:name="Configuration properties" />

    <sap:outbound-config name="SAP_Outbound" doc:id="47728d00-9fea-4755-824a-9d1c57ecc24f" doc:name="SAP Outbound">
        <sap:simple-connection-provider-connection applicationServerHost="${sap.jco.ashost}" client="${sap.jco.client}"
            language="${sap.jco.lang}" password="${sap.jco.passwd}" systemNumber="${sap.jco.sysnr}" username="${sap.jco.user}" />
    </sap:outbound-config>

    <workday:config-version-30-config name="Workday_Config" doc:name="Workday Config version 30" doc:id="a0d55dc4-a572-4bd0-9026-0d5676bf4324">
        <workday:basic-authentication-api-v30-connection username="${wday.username}" password="${wday.password}"
            tenantName="${wday.tenant}" hostName="${wday.host}" responseTimeout="25000" />
    </workday:config-version-30-config>
</mule>